/*
Color Palette: 
Soya Bean  h1
#676350
Mischka - сиреневый
#D4CFDD
Mongoose
#BD9E7C
Sorrell Brown
#CCBB86


Beige for text box
#efebe2

OR

Finch
#60624D
Mischka
#D6D4DB
Sorrell Brown
#C3B37E
Swamp Green
#ABB485



*/

body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #ABB485;
  border-radius: 0;
  border: 0;
}


.navbar-brand h1 { /* My name */
/*  font-family: 'Edu SA Beginner', cursive;*/
  /* font-family: 'Homemade Apple', cursive;*/
/*  font-family: 'Water Brush', cursive; */
/*  font-family: 'Ms Madi', cursive;*/
  font-family: 'Dawning of a New Day', cursive;
  color: #676350;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  line-height: .75;
  text-align: center;
}

.navbar-brand a:link, .navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


/* HOME PAGE */

.jumbotron .background {
  opacity: 0.5;  
  height: 100%;   
}

.container-fluid .jumbotron {
  display: inline-block;
  position:relative;
}

.background {
  width: 100%;
  max-width: 100%;
}


.mainphoto {
  position:absolute;
  left: 5%;
  top: 15%;
  width: 30%;
  height: auto;
  min-width:30%;
}

.about-info {
  position:absolute;
  right: 5%;
  top: 15%;
  width: 50%;
  height: auto;
  min-height:40%;
  max-height: 70%;
  background-color: #efebe2;
}


/********** Large devices only - Desktop **********/
@media (min-width: 992px){
  

}

/********** Medium devices only - Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {


}

/********** Small and Extra Small devices only - Mobile **********/
@media (max-width: 767px) {

.mainphoto {
  top: 5%;
  left: 25%;
  width: 50%;
  max-width:50%;
}

.about-info {
  top: 35%;
  left: 10%;
  width: 80%;
  height: auto;
  min-height:40%;
  max-height: 70%;
  background-color: #efebe2;
}


}

